# Neon PostgreSQL connection string
# Get yours at https://console.neon.tech
DATABASE_URL="postgresql://user:password@ep-xxxx.region.aws.neon.tech/dbname?sslmode=require"

# Auth.js
AUTH_SECRET=""
AUTH_GOOGLE_ID="716181570448-jcj7df5e5o112sdkr8d1mni1g1bh414q.apps.googleusercontent.com"
AUTH_GOOGLE_SECRET="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"
ALLOWED_EMAILS=""
